
body {
    font-family: 'Roboto';
    font-size: 12;
    color: black;
    background-color: white; 
}

.main-body{
    margin-left: 10vw;
    margin-top: 10vh;
    width: 35vw;
    height: 95vh;
}

.preview-frame{
    height: 65vh;
    width: 55vw;
    position: absolute;
    left: 35vw;
    right: 90vw;
    top: 5vh;
    /*float: right;*/
}

.preview-body{
    margin: 0;
}



.code-showcase{
    width: 55vw;
    position: absolute;
    left: 35vw;
    right: 90vw;
    top: 80vh;
    border-color: black;
    border-style: solid;
}

.morning{
    background-color: rgb(80, 80, 80)
}

.inline {
    display: inline;
}

.timed-render {
    display: none;
}

.hidden {
    display: none;
}

.left-side {
    width: 20vw;
}



.fixed-size {
    width: 100px;
    height: 20px;
}

#main {
    width: 100%; 
    height: 100%;  
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    opacity: 0; 
    transition: 0.25s all ease-in-out;
}



/*particles and similar*/
.particle {
    position:absolute;
    width: 4px;
    height: 4px;
    margin: 0px;
    background: gray;
    border-radius: .5rem;
    opacity: 1;
    display:inline-flex;
}

.pixel {
    width: 40px;
    height: 40px;
    position: fixed;
}

.pixel-wolfenstein {
    width: 80px;
    height: 80px;
    position: fixed;
}


/*CSS for effects from Moving Letters - by Tobias Ahlin*/
/*letters-lined-appear:*/
.ml1 {
    font-weight: 900;
    font-size: 3.5em;
}
  
.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}
  
.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: 0 0;
}
  
.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

/*letters-fly-in:*/
.ml2 {
    font-weight: 900;
    font-size: 3.5em;
}
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
}


/*letters-fade-along:*/
.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}

/*letters-fly-change:*/
.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 10vw;
    top: 0.3em;
    right: 0;
    opacity: 0; 
}

/*letters-lined-expand-appear:*/
.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 2.5em;
    color: #402d2d;
  }
  
.ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
.ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #402d2d;
    transform-origin: 0.5 0;
  }
  
.ml5 .ampersand {
    font-family: Baskerville, serif;
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
}
  
.ml5 .letters {
    display: inline-block;
    opacity: 0;
}


/*letters-wave-appear:*/
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }

/*letters-rotate-appear:*/
.ml7 {
    position: relative;
    font-weight: 900;
    font-size: 3.7em;
}
.ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
.ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
}


/*letters-circle-appear:*/
h1.ml8 {
    font-weight: 900;
    font-size: 4.5em;
    color: #000;
    width: 3em;
    height: 3em;
}
  
.ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
}
  
.ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
}
  
.ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
}
  
.ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
  
.ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
}
  
.ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #4f7b86;
    border-radius: 3em;
    z-index: 1;
}
  
.ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #4f7b86;
    width: 2.3em;
    height: 2.3em;
}

/*letters-wave-expand-appear:*/
.ml9 {
    position: relative;
    font-weight: 200;
    font-size: 4em;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }



  